.tree
  %ul
    %li
      %a First Level
      %ul
        %li
          %a Second Level
          %ul
            %li
              %a Third Level
            %li
              %a Third Level
            %li
              %a Third Level
              %ul
                %li
                  %a Fourth Level
                %li
                  %a Fourth Level
                %li
                  %a Fourth Level
                  %ul
                    %li
                      %a Fifth Level
                    %li
                      %a Fifth Level
                    %li
                      %a Fifth Level

        %li
          %a Second Level
        %li
          %a Second Level
    %li
      %a First Level
      %ul
        %li
          %a Second Level
          %ul
            %li
              %a Third Level
            %li
              %a Third Level
            %li
              %a Third Level
              %ul
                %li
                  %a Fourth Level
                %li
                  %a Fourth Level
                %li
                  %a Fourth Level
                  %ul
                    %li
                      %a Fifth Level
                    %li
                      %a Fifth Level
                    %li
                      %a Fifth Level
        %li
          %a Second Level
    %li
      %a First Level
      %ul
        %li
          %a Second Level
        %li
          %a Second Level